@* @model CourseModel

@{
    ViewData["Title"] = Model.Title;
    var user = await UserManager.GetUserAsync(User);
}
<section class="course-details">
    <div class="img-header">
        <img src="~/images/Courses/@Model.ImageName" alt="">
    </div>
    <div class="container">
        @if (!string.IsNullOrEmpty(ViewData["Error"]?.ToString()))
        {
            <div class="alert-danger">@ViewData["Error"]</div>
        }
        <div class="text-header">

            <div class="bread-crumbs">
                <a asp-action="Index" asp-controller="Home"><i class="fa-light fa-house"></i>Home</a><i class="fa-solid fa-angles-right"></i><a asp-action="courses">Courses</a><i class="fa-solid fa-angles-right"></i><a asp-route-id="@Model.Id">@Model.Title</a>
            </div>
            <div class="title-description">
                <div class="labels">
                    @if (Model.IsBestSeller)
                    {
                        <div class="bestseller">
                            Best Seller
                        </div>
                    }
                    @if (Model.IsDigital)
                    {
                        <div class="digital">
                            Digital
                        </div>
                    }
                </div>
                <h1 class="title">@Model.Title</h1>
                <p class="text">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
                <div class="info">
                    <div class="stars">
                        <i class="fa-solid fa-star" style="color: #FFBA08;"></i> *@
                      @*   <i class="fa-solid fa-star" style="color: #FFBA08;"></i>
                        <i class="fa-solid fa-star" style="color: #FFBA08;"></i>
                        <i class="fa-solid fa-star" style="color: #FFBA08;"></i>
                        <i class="fa-regular fa-star" style="color: #B4B7C9;"></i>
                    </div>
                    <div class="thumbs">
                        <i class="fa-light fa-thumbs-up" style="color: #B4B7C9;"></i> <span>@($"{(decimal)(Model.UserVotes ?? 0) / 1000:0.#}K Likes")</span>
                    </div>
                    <div class="hours"><i class="fa-regular fa-clock" style="color: #B4B7C9;"></i> <span>@Model.EstimatedHours hours</span></div>
                </div>
                <div class="creator">
                    <img src="~/images/profile-image.svg" alt="">
                    <div class="created">Created by</div>
                    <div class="creator-name">@Model.Creator</div>
                </div>
            </div>

        </div>
        <div class="content">
            <div class="description">
                <div class="description-title">
                    <h1>Course Description</h1>
                    <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                </div>
                <div class="learn">
                    <h3>What you'll learn</h3>
                    <div class="learnlist">
                        <i class="fa-regular fa-circle-check" style="color: #6366f1;"></i>
                        <p>Sed lectus donec amet eu turpis interdum.</p>
                    </div>
                    <div class="learnlist">
                        <i class="fa-regular fa-circle-check" style="color: #6366f1;"></i>
                        <p>Nulla at consectetur vitae dignissim porttitor.</p>
                    </div>
                    <div class="learnlist">
                        <i class="fa-regular fa-circle-check" style="color: #6366f1;"></i>
                        <p>Phasellus id vitae dui aliquet mi.</p>
                    </div>
                    <div class="learnlist">
                        <i class="fa-regular fa-circle-check" style="color: #6366f1;"></i> *@
              @*           <p>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
                    </div>
                    <div class="learnlist">
                        <i class="fa-regular fa-circle-check" style="color: #6366f1;"></i>
                        <p>In aenean dolor diam tortor orci eu.</p>
                    </div>
                </div>
            </div>
            <div class="aside-info">
                <h4>This course includes:</h4>
                <div class="info"><i class="fa-regular fa-display"></i><p>148 hours on-demand video</p></div>
                <div class="info"><i class="fa-light fa-newspaper"></i>18 articles</div>
                <div class="info"><i class="fa-regular fa-download"></i>25 downloadable resources</div>
                <div class="info"><i class="fa-regular fa-infinity"></i>Full lifetime access</div>
                <div class="info"><i class="fa-light fa-file-certificate"></i> Certificate of completion</div>
                <div class="prices">
                    @if (Model.DiscountPrice > 0)
                    {
                        <h2 class="current-price">$@Model.DiscountPrice</h2>
                        <h4 class="original-price">$@Model.Price</h4>
                    }
                    else
                    {
                        <h2 class="current-price">$@Model.Price</h2>
                    }
                </div>
                <form asp-action="JoinCourse" asp-controller="Account" method="post">
                    <input type="hidden" name="userId" value="@user!.Id" />
                    <input type="hidden" name="courseId" value="@Model.Id" />
                    <button class="btn btn-theme-s" type="submit">Join course</button>
                </form> *@
               @*  <button class="btn btn-theme-s" type="button" asp-action="AccountSavedItems" asp-controller="Account" asp-route-userId="@user!.Id" asp-route-courseId="@Model.Id">Join course</button> *@
       @*     
            @if (User.IsInRole("CIO") && user != null)
            {
                <div class="aside-info-admin">
                    <h5>Admin panel</h5>
                    <div class="admin-badge">
                        <i class="fa-sharp fa-solid fa-id-badge"></i>
                        <h5>@user.FirstName @user.LastName</h5>
                    </div>
                    
                    <div class="buttons">
                        <a asp-action="UpdateCourse" asp-controller="admin" asp-route-id="@Model.Id"><button class="btn btn-gray" type="button">Update Course</button></a>
                        <a asp-action="DeleteCourse" asp-controller="admin" asp-route-id="@Model.Id"><button class="btn btn-red" type="submit">Delete Course</button></a>
                    </div>
                </div>
            }

            <div class="details">
                <h2>Program Details</h2>
                <div class="detail">
                    <div class="number"><h2>1</h2></div>
                    <div class="divider"></div>
                    <h3 class="detail-title">Introduction. Getting started</h3>
                    <p class="text">Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                </div>
                <div class="detail">
                    <div class="number"><h2>2</h2></div>
                    <div class="divider"></div>
                    <h3 class="detail-title">The ultimate HTML developer: advanced HTML</h3>
                    <p class="text">Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                </div>
                <div class="detail">
                    <div class="number"><h2>3</h2></div>
                    <div class="divider"></div>
                    <h3 class="detail-title">CSS & CSS3: basic</h3>
                    <p class="text">Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                </div>
                <div class="detail">
                    <div class="number"><h2>4</h2></div>
                    <div class="divider"></div>
                    <h3 class="detail-title">JavaScript basics for beginners</h3>
                    <p class="text">Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                </div>
                <div class="detail">
                    <div class="number"><h2>5</h2></div>
                    <div class="divider"></div>
                    <h3 class="detail-title">Understanding APIs</h3>
                    <p class="text">Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                </div>
                <div class="detail">
                    <div class="number"><h2>6</h2></div>
                    <h3 class="detail-title">C# and .NET from beginner to advanced</h3>
                    <p class="text">Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                </div>
            </div>
        </div>
        <div class="creator-info">
            <img id="pattern" src="~/images/Courses/pattern.svg" alt="">
            <div class="creator-img">
                <img src="~/images/Courses/Course2.svg" alt="">
            </div>
            <div class="creator-text">
                <p>Learn from the best</p>
                <h2>@Model.Creator</h2>
                <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                <div class="buttons">
                    <button class="btn-red"><i class="fa-brands fa-youtube" style="color: #ffffff;"></i> 240k subscribers</button>
                    <button class="btn-theme"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i> 180k followers</button>
                </div>
            </div>
        </div>
    </div>
</section>

 *@
@code {

}
