@attribute [StreamRendering]
@rendermode InteractiveServer



@if (User == null)
{
    <p>Loading...</p>

}
else
{
    <div class="user">
        <div class="info">
            <div class="user-img">
                @if (User != null && User.UserProfile != null && !string.IsNullOrEmpty(User.UserProfile.ProfileImg))
                {
                    <img src="@User.UserProfile.ProfileImg" alt="profile image" onerror="this.onerror=null; this.src='/images/profile-image.svg';">
                }
                else
                {
                    <img src="/images/profile-image.svg" alt="default profile image">
                }
                <EditForm enctype="multipart/form-data" Model="@uploadModel" FormName="ProfileUpload">
                    <InputFile id="uploadFile" OnChange="HandleFileSelected" name="file" hidden />
                    <label for="uploadFile" class="btn btn-circle btn-circle-sm"><i class="fa-solid fa-arrows-rotate"></i></label>
                </EditForm>
            </div>

            <h6 class="name">@User.UserProfile!.FirstName @User.UserProfile.LastName</h6>
            <p class="email">@User.Email</p>
        </div>
        <div class="btn-user">
            <NavLink href="/profile/details" class="button btn" ActiveClass="active"><i class="fa-solid fa-gear"></i> Account Details</NavLink>
            <NavLink href="/profile/security" class="button btn" ActiveClass="active"><i class="fa-solid fa-lock"></i> Security</NavLink>
            <NavLink href="/profile/notifications" class="button btn" ActiveClass="active"><i class="fa-sharp fa-solid fa-bell"></i> Notifications</NavLink>
            <NavLink href="/profile/saveditems" class="button btn" ActiveClass="active"><i class="fa-solid fa-bookmark"></i> Saved Items</NavLink>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="signout button btn">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Sign Out
                </button>
            </form>

        </div>
    </div>
}


@code {
    private string? currentUrl;
    [Parameter]
    public ApplicationUser User { get; set; }

    private MultipartFormDataContent uploadModel = new MultipartFormDataContent();
    private IBrowserFile? selectedFile;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;

        await HandleProfileImgUpload();
    }

    public async Task HandleProfileImgUpload()
    {
        if (selectedFile != null)
        {
            using var content = new MultipartFormDataContent();
            var fileContent = new StreamContent(selectedFile.OpenReadStream(maxAllowedSize: 1024 * 1024 * 15));
            fileContent.Headers.ContentType = new MediaTypeHeaderValue(selectedFile.ContentType);
            content.Add(fileContent, "files", selectedFile!.Name);

            try
            {
                var response = await Http.PostAsync(Environment.GetEnvironmentVariable("API_FileProvider_Upload"), content);
                if (response.IsSuccessStatusCode)
                {
                    var filePath = await response.Content.ReadAsStringAsync();
                    if (filePath != null)
                        await UpdateUserProfileImagePath(filePath, User.Id);

                    await InvokeAsync(StateHasChanged);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }



    private async Task<bool> UpdateUserProfileImagePath(string filePath, string userId)
    {
        UserProfileModel userProfileModel = new UserProfileModel
            {
                ProfileImg = filePath,
                UserId = userId
            };


        var response = await Http.PostAsJsonAsync(Environment.GetEnvironmentVariable("API_UserProvider_Image"), userProfileModel);
        if (response.IsSuccessStatusCode)
        {
            return true;
        }
        return false;
    }
    public class UserProfileModel
    {
        public string UserId { get; set; }
        public string ProfileImg { get; set; }
    }
}
    
